<div>
    <h2>Passengers::</h2>
    <button type="button" (click)="getAllNames()">fetch passengers</button>
    <div>
        <ul>
            <li *ngFor="let pas of passengers">
                <button type="button" (click)="focusOn(pas)">
                    <span>{{pas.id}} :: {{pas.lastName}}, {{pas.firstName}}</span>
                </button>
                <div *ngIf="selected === pas">
                    <button type="button" (click)="removePassenger(pas.id)">Delete {{pas.firstName}}</button>
                    <a [routerLink]="['edit']" [queryParams]="{pasId: pas.id}">Edit info</a>
                    <p>Detials::</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Passenger ID</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Current Bookings</th>
                                <th>Age</th>
                                <th>Email Address</th>
                                <th>Employment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{pas.id}}</td>
                                <td>{{pas.lastName}}</td>
                                <td>{{pas.firstName}}</td>
                                <td>{{pas.flightsBooked}}</td>
                                <td>{{pas.age}}</td>
                                <td>{{pas.email}}</td>
                                <td>{{pas.job}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>

<button type="button" (click)="addNew()">Add New Passenger</button>
<div *ngIf="newView">
    <app-submit-passenger></app-submit-passenger>
</div>
